.input-container {
  @extend %container;
  @extend %flexbox;
  justify-content: flex-start;
  border-radius: 0.5rem;
}

form {
  width: 100%;
}

.input-field {
  background-color: transparent;
  border: none;
  color: $Dark-Grayish-Blue;
  width: 100%;
  padding: 0 1.5rem;

  &:focus {
    color: $Light-Grayish-Blue;
    border: none;
    outline: none;
  }
}
