.light {
  background: $Very-Light-Gray url("../images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.light .main {
  box-shadow: 0 2rem 3rem rgba(29, 29, 29, 0.2);
}

.light .input-container,
.light .task,
.light .stats,
.light .filters {
  background-color: $White;
}

.light .task {
  border-color: $Light-Grayish-Blue;
}

.light .input-field {
  color: $Dark-Grayish-Blue;
}

.light .task__paragraph {
  color: $Very-Dark-Grayish-Blue;
}

.light .btn--theme-switch {
  background-image: url("../images/icon-moon.svg");
}
