@media screen and (max-width: 370px) {
  html {
    font-size: 50%;
  }

  .btn--clear {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 540px) {
  .light {
    background: $Very-Light-Gray url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  body {
    @extend %background;
    background-image: url("../images/bg-desktop-dark.jpg");
    background-size: auto;
  }

  .light {
    background-size: auto;
  }

  .main {
    max-width: 54rem;
    margin-top: 10rem;
  }

  .filters-desktop {
    display: flex;
    width: auto;
    margin: 0;
  }

  .filters-mobile {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  body,
  .light {
    background-size: 100% 40vh;
  }

  .main {
    margin-top: 15rem;
  }

  .btn--delete {
    display: none;

    &:hover {
      display: block;
    }
  }
}
